<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".screens.bottomNavAdaptive.AdaptiveNavActivity"
            android:exported="false"
            android:label="@string/title_activity_adaptive_nav"
            android:theme="@style/Theme.MeSDK" />
        <activity
            android:name=".screens.ListActivity"
            android:exported="false"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme.MeSDK" />
        <activity
            android:name=".base.BaseActivity"
            android:exported="false"
            android:label="@string/title_base_activity"
            android:theme="@style/Theme.MeSDK" />
    </application>

</manifest>